body {
    background-color: #E4DFDA;
    font-family: 'Roboto', sans-serif;
}


.pages {
    z-index: 2;
    position: fixed;
    font-size: 25px;
    top: 0px;
    width: 100%;
    justify-content: center;
    text-align: center;
    display: block;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    margin-bottom: 2px;
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
}

.pages .current{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

nav {
    z-index: 20;
    animation: fadeIn 2s;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.pages a {
    font-weight: bold;

    color: inherit; 
    text-decoration: none;
    background-color: rgba(43, 43, 43, 0.4);
    border: 2px solid rgba(0, 0, 0, 0.185);
    padding: 10px;
}

.pages a:hover {
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    border: 2px solid rgb(255, 0, 0);
}

.socials {
    z-index: 2;
    position: fixed;
    left: 85%;
    top: 2%;
    border-radius: 8px;
    transform: translate(0%, 0%);
    padding: 2px;
}

.socials a {
    padding: 10px;
}

.Title {
    font-size: 25px;
    z-index: 3;
    position: fixed;
    display: flex; 
    top: -1%;
    left: 5%; 
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.Title img {
    position: absolute;
    top: 30%;
    left: 100%;
}



#ImageContainer img {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    padding: 2px;
    transform-origin: center;
}

@keyframes container-popout {
    from {
        transform: scale(1);
        transform-origin: center;
    }
    to {
        transform: scale(1.1);
        transform-origin: center;
    }
}

@keyframes image-shadow {
    from {
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    }
    to {
        box-shadow: 0 0 25px rgba(255, 0, 0, 0.7);
        border-radius: 0px; 
    }
}


.image-wrapper:hover {
    animation: container-popout 0.1s ease-in-out forwards;
  }
  
  .image-wrapper:hover img {
    animation: image-shadow 0.4s ease-in-out forwards;
  
  }
  
.image-wrapper {
    position: relative;
    width: 100%;
    transform-origin: center; /* Ensure transformations originate from the center */
}

.image-wrapper img {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
    transform-origin: center; /* Ensure transformations originate from the center */
}

.image-wrapper p {
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 100px;
    left: 0;
    background-color: rgba(255, 0, 0, 0.3);
    color: white;
    text-shadow: 2px 2px 2px black;
    padding-top: 5px;
    padding-bottom: 12px;
    margin-left: 2px;
    bottom: 55px;
    font-weight: bold;
}

.price-tag {
    position: absolute;
    top: 20px;
    right: 5px;
    background: rgba(255, 0, 0, 0.7);
    text-shadow: 2px 2px 2px black;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
}



@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.SellCarImage {
    transform-origin: center;

   

}
.SellCarImage img {
    border-radius: 40px;
    border: 4px solid rgb(0, 0, 0);
    transform-origin: center;
    box-shadow: 0 0 50px rgb(0, 0, 0);
    max-width: 100%;

}

.hover-info {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 8px;
    text-align: center;
    width: 80%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}



.image-wrapper:hover .hover-info {
    animation: appear 0.3s ease-in-out forwards;
    visibility: visible; 
}

.hover-info p {
    background-color: transparent;
    padding: 0;
    bottom: auto;
}

.my-class {
    background-color: aqua;
}



#ImageContainer {
    animation: Arise 1s;
}

@keyframes Arise {
    from {
        transform: translate(0%, -50%);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translate(0%, 0%);
    }
}

.pages {
    animation: Arise 2s;
}

@keyframes falling {
    from {
        transform: translate(0%, -100%);
        opacity: 0;
    }
    to {
        transform: translate(0%, 0%);
        opacity: 1;
    }
}

.Title, .socials {
    animation: falling 2s;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

video {
    width: 100%;
}

.calendar {
   
    display: flex;
    justify-content: center;
    padding-top: 4%;
    scale: 1.5;
    animation: tileAppearactual 1s forwards;
    transform: translate(0%, -180%);
    
}



.info {
    
    display: flex;
    flex-direction: row;
    animation: tileAppearactual 1s forwards;
    position: relative;
    transform-origin: center;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    gap: 1%;
    border-radius: 8px;
    transform-origin: translate(50%, 50%);
    align-items: flex-start;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 1%;
    padding-right: 1%;
    transform: translate(0%, -80%);


    


}



.service1 img, .service2 img {
    
    max-width: 25%;
    max-height: 15%;
    position: relative;
    display: inline-block;
    transform-origin: translate(50%, 50%);
    margin: 0 auto;
    border : 2px solid rgb(0, 0, 0);
    display: flex;
    transform: translate(0%, -235%);
    box-shadow: 0 0 50px rgb(0, 0, 0);
    
}

.text-group2 {
    
    position: relative;
    z-index: 2;
    transform: translate(0%, 0%);
    text-align: center;
    display: flex;
    flex-direction: row;
    background-color: #C1666B;
    transform-origin: translate(50%, 50%);
    justify-content: center;
    border-radius: 8px;
    min-width: 110%;
    color: #48A9A6;;
    text-shadow: 1px 1px 1px black;
    background-color: #4357AD;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 0 50px rgb(0, 0, 0);
    
    

    
}

.text-group1 {
    box-shadow: 0 0 50px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    transform-origin: translate(50%, 50%);
    transform: translate(0%, 30%);
    width: 25%;
    height: 25%;
    background-color: #C1666B;
    border-radius: 8px;
    text-align: center;
    height: 100%;
    align-items: center;
    margin: 2%;
    padding: .5%;
    color: white;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);

    
 
}
.extra-info{
    animation: tileAppearactual 1s forwards;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 28%;
    transform: translate(0%, -50%);
}

.text-group1 h1, .text-group2 h1 {
    
    white-space: nowrap;
    color: #D4B483;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    padding-left: 2%;

    
    }



@keyframes backgroundAppear {
    from {
        opacity: 0;
        background-color: rgba(255, 0, 0, 0);
    }
    to {
        opacity: 1;
        background-color: rgba(10, 10, 10, 0.5);    
    }
}

.home-container {
    animation: backgroundAppear 2s forwards;
    font-size: 30px;
    position: relative;
    transform-origin: center;
    display: flex;
    justify-content: center;
    margin-top : 10%;
    background-color: rgba(0, 0, 0, 0.5);
    gap: 5%;
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    padding: 20px;
    border-radius: 8px;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: bold;
    margin-top: 15%;
    overflow: hidden

    
    
}



@keyframes tileAppear {
    from {
        opacity: 0;
        transform: translateX(250px);
        background-color: rgba(255, 255, 255, 0.486);
        
    }
    to {
        opacity: 1;
        transform: translateX(0);
        background-color: rgba(109, 109, 109, 0.479);
        
        
    }
} 

@keyframes tileAppearactual {
    from {
        opacity: 0;
        
    }
    to {
        opacity: 1;
        
        
    }
} 

.home-container a {
    opacity: 0;
    animation: tileAppear 1s forwards;
    flex: 1;
    color: inherit;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px; 
    padding-top: 20px;
    padding-bottom: 20px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0, .5);

}


.home-container a:nth-child(1) {
    animation-delay: 1.0s; 
}

.home-container a:nth-child(2) {
    animation-delay: 1.3s; 
}

.home-container a:nth-child(3) {
    animation-delay: 1.6s; 
}



.home-container a:hover {
    color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgb(255, 0, 0);
}

.home-container a img {
    opacity: 0.8;
    border: 2px solid rgb(36, 36, 36);

    position: relative;
    width: 80%;
    height: auto;
    align-items: center;

    border-radius: 8px;
    margin-top: 5%;
   
    
}
    

@keyframes Panning {
    from {
        transform: translateY(50%);
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes PanHeader {
    from {
        transform: translateX(50%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}
.sell-intro {
    box-shadow: 0 0 50px rgb(0, 0, 0);
    overflow: hidden;
    margin-top: 10%;
    text-align: center;
    font-weight: bold;
    color: #48A9A6;;
    text-shadow: 1px 1px 1px black;
    background-color: #4357AD;
    padding: 1%;
    transform: translate(0%, -0%);
    
}

.sell-intro p{
    animation: PanHeader 3s ease-out forwards;
   
    
}

.sell-info {
    
    border-radius: 10px;
    background-color: #C1666B;
    position: relative;
    transform-origin: translate(-50%, -50%);
    width: 30%;
    
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 50px rgb(0, 0, 0);
    max-width: fit-content;





}

.sell-container{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 6%;
    transform: translate(0%, 25%);
    padding-left: 3%;
    padding-right: 3%;
}



.sell-info h1 {
    font-size: 40px;
    text-align: center;
    color:  #D4B483;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    

}
.sell-info p{

    border-radius: 8px;
    opacity: 0;
    transform-origin: translate(50%, 50%);
    max-width: 85%;
    min-width: 85%;
    animation: Panning 1s forwards;
    font-weight: bold;
    color: #E4DFDA;
    text-shadow: 2px 2px 2px black;
    background-color: #D4B483;
    padding: 1%;
    border: 2px solid rgb(0, 0, 0);
}

.sell-info p:nth-child(2){
    animation-delay: 1s;
}

.sell-info p:nth-child(3){
    animation-delay: 1.5s;

}

.sell-info p:nth-child(4){
    animation-delay: 2s;

}

.sell-info p:nth-child(5){
    animation-delay: 2.5s;

}

.sell-info p:nth-child(6){
    animation-delay: 3s;

}

.sell-info p:nth-child(7){
    animation-delay: 3.5s;

}

div .Box-Heading{

    font-weight: bold;
    color: #ff0000;
}



form {
    
    animation: appear 3s forwards;
    overflow: hidden;
    z-index: 10;
    position: relative;
  
    transform: translate(0%, 0%);
    transform-origin: center;
    margin: 20px;
    display: flex;
    flex-direction: column; 
    width: 20%;
    height: 45%;
    background-color: rgba(0, 0, 0, 0.37);
   
    border-radius: 10px;
    box-shadow: 0 0 50px rgb(0, 0, 0);
    position: relative;
    display: flex;
    justify-content: center;
    max-width: fit-content;

}
.LargeBox {
    transform-origin: translate(50%, 50%);
}
form input {
    margin: 5px;
    border-radius: 8px;
    font-size: 20px;
    
}

form p {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.lock-body {
    overflow: hidden;

} 
     
#ImageContainer {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 20px;
    padding-top: 100px;
}



   
/*mobile Viewport*/
    
@media screen and  (max-width: 400px) {

 #ImageContainer {
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
        padding: 20px;
        padding-top: 100px;
    }

 .Title{
    animation: none;
    font-size: 16px;
    transform: translate(0%, 90%);
    
 }

 .pages{
    background-color: none;

    background-color: rgba(0, 0, 0, 0.5);

    animation: none;

    font-size: 12px;
    padding-bottom: 20%;
 }

 .socials{

    animation: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
   transform: translate(-50%, 70%);
 }

 .lock-body{
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
 }


 @keyframes Shuffle {

    from {
        transform: translate(0%, 0%);
    }
    to {
        transform: translate(-1%, 0%);
    }
}


 .text-group2{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform: translate(0%, 220%);
    scale: .9

 }

 .text-group1{
    

    font-size: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    width: 80%;
    transform: translate(0%, -85%);
 }




 .extra-info{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0%;
 
 
}

.service2{
    visibility: hidden;
}

.text-group1 h1{
    font-size: 10px;
  
    }


    .calendar {
        scale: 1.0;
        transform: translate(0%, 300%);
        background-color: rgba(0, 0, 0, 0.5);
        padding: 20px;
    }

    .lock-body {
        overflow: visible;
    
    } 


   .home-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 0%;
        font-size: 22px;
        scale: .5;
        transform: translate(0%, -20%);
        overflow: hidden;
   } 

   .sell-intro{

        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 0%;
        font-size: 10px;
        transform: translate(0%, 200%);
        scale: 1.0;
        
   }

   .sell-info{
    order: 2;

        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 0%;
        font-size: 10px;
        width: 100%;
        transform: translate(0%, -105%);
   }

   .sell-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
   }

   form{
        width: 210%;
        transform: translate(0%, 185%);
   }
   .sell-container img{

    width: 75%;
    height: auto;
    border-radius: 8px;

   }
   .SellCarImage{
    order: 1;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 6%;
    transform: translate(0%, -180%);
   }

   /* .image-wrapper:hover {
    animation: container-popout 0.1s ease-in-out forwards;
  }

 
  @keyframes dissappear{
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }

  }

  @keyframes scaleReset{

    from {
     
    }
    to {
      transform: scale(1);
    
      border-radius: 8px;  
      background-color: none;
      box-shadow: none;
    }
  } 


  .image-wrapper:hover {
    animation: scaleReset  0.3s ease-in-out forwards;
    animation-delay: 4.0s;
  }

  */

  .image-wrapper:hover {
    animation: none;
}
  
.image-wrapper:hover .hover-info {
    animation: none;
}

.hover-info {
    opacity: 0;
    z-index: 100;
}


.image-wrapper{
    background-color: none;
    animation: none;
}

}


/* 
@media (max-width: 400px) {
    body {
        background-color: rgba(255, 0, 0, 0.5) !important;
    }
} */
/* 

@media  only screen and (min-width: 401px) {
    body{
        background-color: rgba(255, 0, 0, 0.5);
    }
} */


